<script lang="ts" setup>
import { ref } from "vue";
const pic = ref("feeling_imgs/smile.png");
const text = ref("Smile");
const change = ref(6);
function process(status: string, feeling: string, color: number) {
  text.value = status;
  pic.value = feeling;
  change.value = color;
}
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col cols="6">
        <v-img :src="pic"></v-img>
      </v-col>
      <v-col>
        <v-container>
          <v-row class="justify-center">
            <v-col>
              <h1 style="text-align: center; font-size: 60pt" class="pd-10">
                {{ text }}
              </h1>
              <v-btn
                :color="change === 1 ? 'yellow' : 'none'"
                height="45px"
                @click="process('Angry', 'feeling_imgs/angry.png', 1)"
                block
                >ANGRY</v-btn
              >
              <v-btn
                :color="change === 2 ? 'yellow' : 'none'"
                height="45px"
                class="mt-2"
                @click="process('Cute', 'feeling_imgs/cute.png', 2)"
                block
                >CUTE</v-btn
              >
              <v-btn
                :color="change === 3 ? 'yellow' : 'none'"
                height="45px"
                class="mt-2"
                @click="process('Excited', 'feeling_imgs/excited.png', 3)"
                block
                >EXCITED</v-btn
              >
              <v-btn
                :color="change === 4 ? 'yellow' : 'none'"
                height="45px"
                class="mt-2"
                @click="process('Pain', 'feeling_imgs/pain.png', 4)"
                block
                >PAIN</v-btn
              >
              <v-btn
                :color="change === 5 ? 'yellow' : 'none'"
                height="45px"
                class="mt-2"
                @click="process('Shocked', 'feeling_imgs/shocked.png', 5)"
                block
                >SHOCKED</v-btn
              >
              <v-btn
                :color="change === 6 ? 'yellow' : 'none'"
                height="45px"
                class="mt-2"
                @click="process('Smile', 'feeling_imgs/smile.png', 6)"
                block
                >SMILE</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.focus-color {
  background-color: rgb(254, 205, 165);
}
</style>
