<script lang="ts" setup>
import { ref, watch } from "vue";
import type { VForm } from "vuetify/components";
const valid = ref(true);
const text = ref("");
const num = ref(0);
const form = ref<InstanceType<typeof VForm> | null>(null);
async () => {
  const { valid } = await form.value!.validate();
  if (!valid) {
    num.value = 0;
  }
};

watch(
  () => text.value,
  () => {
    if (text.value == "") {
      num.value = 0;
    } else {
      num.value = parseInt(text.value);
    }
  }
);
</script>

<template>
  <v-container fluid>
    <v-form ref="form" v-model="valid">
      <v-row class="mt-16">
        <v-text-field
          label="Please input Number"
          v-model="text"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-row>
    </v-form>
    <v-row style="height: 63vh; overflow-y: auto">
      <v-col cols="1" v-for="item in num" :key="item">{{ item }}</v-col>
    </v-row>
  </v-container>
</template>
